<!DOCTYPE html>
{%extends 'shop/base.html'%}

{%block body_block%}

<h2>
    <center>
        Your Cart
    </center>
</h2>
    <table class="table table-striped">
        <tr>
            <th>Product</th>
            <th>User</th>
            <th>Status</th>
            <th>Cancel</th>
            <th>View</th>
        </tr>
        {% for order in orders %}
        <tr>
            <td>{{order.product}}</td>
            <td>{{order.user}}</td>
            <td>{{order.status}}</td>
            <td><a href="#">cancel?</a></td>
            <td><a href="#">view</a></td>
        </tr>
        {% endfor %}
    </table>

    <a href="{%url 'listmobiles'%}" class="btn btn-primary btn-sm mt-3">
        Back to Home
    </a>

{% endblock %}