<!DOCTYPE html>
{%extends 'event/base.html'%}

{%block body_block%}

<div class="container">

    <form action="" method="post">
        {%csrf_token%}
        <table>
            {{form.as_table}}
        </table>
        <div class="mt-4 mb-5 text-center">
            <input type="submit" class="btn btn-outline-success btn-sm" value="Get the Amount">
        </div>
    </form>
<!--    <div>-->

<!--        <table class="table">-->
<!--            <tr>-->
<!--                <th>Event</th>-->
<!--                <th>Date of Event</th>-->
<!--                <th>Price of ticket</th>-->
<!--                <th>Number of tickets</th>-->
<!--                <th>Total</th>-->
<!--            </tr>-->
<!--            {% for s in set %}-->
<!--            <tr>-->
<!--                <td>{{s.event.event_name}}</td>-->
<!--                <td>{{s.event.date}}</td>-->
<!--                <td>{{s.event.ticket_price}}</td>-->
<!--                <td>{{s.no_of_tickets}}</td>-->
<!--                <td>{{s.total}}</td>-->
<!--            </tr>-->
<!--            {% endfor %}-->

<!--        </table>-->

<!--        {% if total %}-->
<!--        <div class="text-right">-->

<!--            <h1 class="mb-4" style="font-family: 'Poppins', sans-serif;font-size:30px">Total : {{total}}-->
<!--            </h1>-->

<!--        </div>-->
<!--        {% endif %}-->
<!--        <div class="mt-4 mb-5 text-center">-->
<!--            <a href="{% url 'eventlist' %}" class="btn btn-outline-danger btn-sm"> Back to home </a>-->
<!--        </div>-->

<!--    </div>-->

</div>

{% endblock %}