<!DOCTYPE html>
{%extends 'event/base.html'%}

{%block body_block%}

<form action="" method="post">
    {% csrf_token%}
    <div class="container">
        <h1 class="mb-4" style="font-family: 'Poppins', sans-serif;font-size:30px">Please Add your Feedback
        </h1>
        <table class="table">
            {{form.as_table}}
        </table>
        <div class="text-center">
            <input type="submit" value="Submit Feedback" class="btn btn-outline-success">
        </div>
    </div>

</form>
{% endblock %}
