<!DOCTYPE html>
{%extends 'bill/base_bill.html'%}

{%block body_block%}

<table class="table mt-4">
    <tr>
        <th>Bill No.</th>
        <th>Product Name</th>
        <th>Qty</th>
        <th>Amount</th>
    </tr>
    {%for item in items%}
    <tr>

        <td>{{item.bill_number}}</td>
        <td>{{item.product.product_name}}</td>
        <td>{{item.product_qty}}</td>
        <td>{{item.amount}}</td>


    </tr>
    {%endfor%}
</table>
<div style="text-align:center" class="Grandtotal">
    Grand Total<h3>{{total}}</h3>
</div>

{% endblock %}