<!DOCTYPE html>
{%extends 'bill/base_bill.html'%}

{%block body_block%}

<form action="" method="post">
    {%csrf_token%}
    {{form.as_p}}
    <input type="submit" value="Get Bill" class="btn btn-success">
    <table class="table">
        <tr>
            <th>Bill Number</th>
            <th>Bill Date</th>
            <th>Customer Name</th>
            <th>Phone Number</th>
            <th>Total</th>
        </tr>
        {% for order in orders %}
        <tr>
            <td>{{order.bill_number.bill_number}}</td>
            <td>{{order.bill_number.bill_date}}</td>
            <td>{{order.bill_number.customer_name}}</td>
            <td>{{order.bill_number.phone_number}}</td>
            <td>{{order.bill_number.bill_total}}</td>
        </tr>
        {% endfor %}
    </table>

</form>

{% endblock %}